In [2]:
import psycopg2
conn = psycopg2.connect('postgres://avnadmin:AVNS_Z5JtM8rzuT87CvdUQlZ@pg-30aab7f8-saurabhrajesh.f.aivencloud.com:26577/defaultdb?sslmode=require')
cur = conn.cursor()

In [8]:
query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
"""
conn = psycopg2.connect('postgres://avnadmin:AVNS_Z5JtM8rzuT87CvdUQlZ@pg-30aab7f8-saurabhrajesh.f.aivencloud.com:26577/defaultdb?sslmode=require')
cur = conn.cursor()
cur.execute(query)
tables = cur.fetchall()
conn.close()
print("Tables in the database:")
for table in tables:
    print(table[0])

Tables in the database:
assigns
bookings
classrooms
classrooms_assigns
students
teachers
test_attempts
tests
users

In [7]:
# -- Table for students

create_students_table = """
CREATE TABLE students (
    student_id TEXT PRIMARY KEY,
    student_class_id TEXT, 
    name VARCHAR(100) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    password TEXT
);"""

# -- Table for teachers
create_teachers_table = """
CREATE TABLE teachers (
    teacher_id TEXT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    email VARCHAR(255) UNIQUE NOT NULL,
    password TEXT
);"""

# -- Table for classrooms
create_classrooms_table = """
CREATE TABLE classrooms (
    classroom_id TEXT PRIMARY KEY,
    teacher_id TEXT NOT NULL REFERENCES teachers(teacher_id) ON DELETE CASCADE,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    class_id VARCHAR(15) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);"""

# -- Table for classrooms assignment for students
create_student_classroom_assigns_table = """
CREATE TABLE classrooms_assigns (
    assignment_id TEXT PRIMARY KEY, 
    classroom_id TEXT,
    student_id TEXT, 
    UNIQUE (classroom_id, student_id)  
);"""

# -- Table for tests
create_tests_table = """
CREATE TABLE tests (
    test_id TEXT PRIMARY KEY,
    classroom_id TEXT NOT NULL REFERENCES classrooms(classroom_id) ON DELETE CASCADE,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    max_marks INT NOT NULL,
    schedule_time TIMESTAMP, 
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);"""

# -- Table for test attempts
create_attempts_table = """
CREATE TABLE test_attempts (
    attempt_id TEXT PRIMARY KEY,
    test_id TEXT NOT NULL REFERENCES tests(test_id) ON DELETE CASCADE,
    student_id TEXT NOT NULL REFERENCES students(student_id) ON DELETE CASCADE,
    answer TEXT NOT NULL,
    marks_obtained INT,
    attempt_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    UNIQUE (test_id, student_id)  
);"""
queries = [
    create_students_table,
    create_teachers_table,
    create_classrooms_table,
    create_tests_table,
    create_attempts_table,
    create_student_classroom_assigns_table
]
for query in queries: 
    try: 
        conn = psycopg2.connect('postgres://avnadmin:AVNS_Z5JtM8rzuT87CvdUQlZ@pg-30aab7f8-saurabhrajesh.f.aivencloud.com:26577/defaultdb?sslmode=require')
        cur = conn.cursor()
        cur.execute(query)
        conn.commit()
        conn.close()
    except Exception as e: 
        print(e)

In [24]:
drop_students_table = "DROP TABLE IF EXISTS students CASCADE;"
drop_teachers_table = "DROP TABLE IF EXISTS teachers CASCADE;"
drop_classrooms_table = "DROP TABLE IF EXISTS classrooms CASCADE;"
drop_tests_table = "DROP TABLE IF EXISTS tests CASCADE;"
drop_attempts_table = "DROP TABLE IF EXISTS test_attempts CASCADE;"
drop_classrooms_assigns_table = "DROP TABLE IF EXISTS classrooms_assigns CASCADE;"

drop_queries = [
    drop_students_table,
    drop_teachers_table,
    drop_classrooms_table,
    drop_tests_table,
    drop_attempts_table,
    drop_classrooms_assigns_table
]
for query in drop_queries: 
    try: 
        conn = psycopg2.connect('postgres://avnadmin:AVNS_Z5JtM8rzuT87CvdUQlZ@pg-30aab7f8-saurabhrajesh.f.aivencloud.com:26577/defaultdb?sslmode=require')
        cur = conn.cursor()
        cur.execute(query)
        conn.commit()
        conn.close()
    except Exception as e: 
        print(e)

In [19]:
query = """
SELECT * from teachers;
"""
conn = psycopg2.connect('postgres://avnadmin:AVNS_Z5JtM8rzuT87CvdUQlZ@pg-30aab7f8-saurabhrajesh.f.aivencloud.com:26577/defaultdb?sslmode=require')
cur = conn.cursor()
cur.execute(query)
entries = cur.fetchall()
conn.close()
print(entries)
print(len(entries))

[('de9de5af-36ac-4b9a-8599-f0285295d35a', 'Sanjay Pratihar', 'spratihar@gmail.com', 'pbkdf2_sha256$870000$d9z8ooinGhLPOTI6VN5ESG$6LBGxkEIIpgnZm5BTu0ywJcFhKwSb3ZLVshp5JAO7TE='), ('ba0905b4-903d-4b79-a942-4f403642ef27', 'Imon Mukherjee', 'imukherjee@gmail.com', 'pbkdf2_sha256$870000$1iv2acj3ciadYCuAXtRkUb$zfa7u+7u17rQ7esLqZhv5pz1lKlD3ozM4Wzlxx3UJJM='), ('bc2d7dfc-de21-496a-8260-44b8d7dea169', 'Uma Das', 'udas@gmail.com', 'pbkdf2_sha256$870000$1F4NqDNfy6pAhqq2rFA5EM$t+K+qJJBygDJ1SKmCLrl0ClOUrX8Gv7SvUp/V1Z+JVw=')]
3

In [4]:
from datetime import datetime 
now = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
print(now)

2024-12-08 14:45:32